<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Raças
        </h1>
        <ol class="breadcrumb">
          <li><a ui-sref="admin.dashboard">Área de trabalho</a></li>
          <li class="active">Raças</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <section class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-edit fa-fw"></i>
              Raça
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <form class="form-horizontal" name="form" ng-submit="save(form)" novalidate>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && form.name.$dirty }">
                    <label for="name" class="col-xs-2">Nome</label>

                    <div class="col-xs-10">
                      <input focus-if='true' type="breed" id='name' name="name" class="form-control"
                             ng-model="breed.name" required/>

                      <p class="help-block" ng-show="form.name.$error.required && form.name.$dirty">
                        Nome é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.type.$valid && form.type.$dirty, 'has-error': form.type.$invalid && form.type.$dirty }">
                    <label for="type" class="col-xs-2">Tipo</label>

                    <div class="col-xs-10">
                      <select id='type' name="type" class="form-control" ng-model="breed.type" required
                              ng-options="type.id as type.label for type in typeEnum" required>
                      </select>

                      <p class="help-block" ng-show="form.type.$error.required && form.type.$dirty">
                        Tipo é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button ng-disabled="form.$invalid || submitted === true" class="btn btn-primary" type="submit">
                        {{ ((breed._id) ? 'Atualizar' : 'Cadastrar')}}
                      </button>
                      <a class="btn btn-default" ng-click="clear(form)" ng-if="breed._id">
                        Limpar
                      </a>
                      <a class="btn btn-danger" ng-click="delete(breed, form)" ng-if="breed._id">
                        Deletar
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-list fa-fw"></i>
              Raças cadastradas
            </h3>
          </div>
          <div class='container-grid'>
            <table tr-ng-grid="" items="breeds" locale='pt-br' page-items="10" selection-mode='none'>
              <thead>
              <tr>
                <th field-name="name" display-name="Nome" enable-filtering="true" enable-sorting="true">
                </th>
                <th field-name="type" display-name="Tipo" enable-filtering="true" enable-sorting="true">
                </th>
                <th class='grid-actions'>
                  <div>
                    Ações
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class='grid-actions'>
                  <div class="btn-group btn-group-sm">
                    <button tooltip="Editar" class="btn btn-primary" ng-click="edit(gridItem)" to-top>
                      <i class='fa fa-edit'></i>
                    </button>
                    <button tooltip="Deletar" class="btn btn-danger" ng-click="delete(gridItem, form)">
                      <i class='fa fa-remove'></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
