<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Pets
        </h1>
        <ol class="breadcrumb">
          <li><a ui-sref="admin.dashboard">Área de trabalho</a></li>
          <li class="active">Pets</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <section class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-edit fa-fw"></i>
              Pet
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <form class="form-horizontal" name="form" ng-submit="save(form)" novalidate>
                  <div class="form-group">
                    <div class="col-xs-10 col-xs-offset-2" ng-if="pet.profilePicture.filters.thumb"
                         style="margin-bottom: 20px;">
                      <img ng-src="{{pet.profilePicture.filters.thumb.url}}" style="height: 300px; width: auto;">
                    </div>
                    <label class="col-xs-2">Imagem de Perfil</label>

                    <div class="col-xs-10">
                      <input type="file" ng-file-select ng-multiple="false"
                             ng-accept="'image/*'" class="form-control" ng-file-change="profilePictureUpload($files)">
                    </div>
                    <input type="hidden" required ng-model="pet.profilePicture.url" name="profilePicture">
                  </div>
                  <div ng-if="profilePictureUploadProgress">
                    <div class="form-group" ng-repeat="file in profilePictureUploadProgress()">
                      <div class="col-xs-4 col-xs-offset-2">
                        {{file.name}}
                      </div>
                      <div class="col-xs-6">
                        <progressbar value="file.progress"></progressbar>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && form.name.$dirty }">
                    <label for="name" class="col-xs-2">Nome</label>

                    <div class="col-xs-10">
                      <input focus-if='true' type="pet" id='name' name="name" class="form-control"
                             ng-model="pet.name" required/>

                      <p class="help-block" ng-show="form.name.$error.required && form.name.$dirty">
                        Nome é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.type.$valid && form.type.$dirty, 'has-error': form.type.$invalid && form.type.$dirty }">
                    <label for="type" class="col-xs-2">Tipo</label>

                    <div class="col-xs-10">
                      <select id='type' name="type" class="form-control" ng-model="pet.type" required
                              ng-options="type.id as type.label for type in typeEnum" required
                              ng-change="updateBreeds(pet.type)">
                      </select>

                      <p class="help-block" ng-show="form.type.$error.required && form.type.$dirty">
                        Tipo é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.size.$valid && form.size.$dirty, 'has-error': form.size.$invalid && form.size.$dirty }">
                    <label for="size" class="col-xs-2">Tamanho</label>

                    <div class="col-xs-10">
                      <select id='size' name="size" class="form-control" ng-model="pet.size" required
                              ng-options="size.id as size.label for size in sizeEnum" required>
                      </select>

                      <p class="help-block" ng-show="form.size.$error.required && form.size.$dirty">
                        Tamanho é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.age.$valid && form.age.$dirty, 'has-error': form.age.$invalid && form.age.$dirty }">
                    <label for="age" class="col-xs-2">Idade</label>

                    <div class="col-xs-10">
                      <select id='age' name="age" class="form-control" ng-model="pet.age" required
                              ng-options="age.id as age.label for age in ageEnum" required>
                      </select>

                      <p class="help-block" ng-show="form.age.$error.required && form.age.$dirty">
                        Idade é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.gender.$valid && form.gender.$dirty, 'has-error': form.gender.$invalid && form.gender.$dirty }">
                    <label for="gender" class="col-xs-2">Gênero</label>

                    <div class="col-xs-10">
                      <select id='gender' name="gender" class="form-control" ng-model="pet.gender" required
                              ng-options="gender.id as gender.label for gender in genderEnum" required>
                      </select>

                      <p class="help-block" ng-show="form.gender.$error.required && form.gender.$dirty">
                        Gênero é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.breeds.$valid && form.breeds.$dirty, 'has-error': form.breeds.$invalid && form.breeds.$dirty }">
                    <label class="col-xs-2">Raças</label>

                    <div class="col-xs-10" keypress="13">
                      <ui-select multiple ng-model="pet.breeds" theme="bootstrap"
                                 class="form-control"
                        >
                        <ui-select-match placeholder="Selecione a(s) raça(s)">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="breed._id as breed in breeds | filter: $select.search">
                          <div ng-bind-html="breed.name | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                  <div class="form-group" ng-if="getCurrentUser().role !== 'org'"
                       ng-class="{ 'has-success': form.organization.$valid && form.organization.$dirty, 'has-error': form.organization.$invalid && form.organization.$dirty }">
                    <label for="organization" class="col-xs-2">Organização</label>

                    <div class="col-xs-10">
                      <select id='organization' name="organization" class="form-control" ng-model="pet.organization"
                              required
                              ng-options="organization._id as organization.name for organization in organizations"
                              required>
                      </select>

                      <p class="help-block" ng-show="form.organization.$error.required && form.organization.$dirty">
                        Organização é obrigatório
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-success': form.history.$valid && form.history.$dirty, 'has-error': form.history.$invalid && form.history.$dirty }">
                    <label for="history" class="col-xs-2">História</label>

                    <div class="col-xs-10">
                      <textarea name="history" id="history" ng-model="pet.history" class="form-control"
                                rows="10" placeholder="Conte um pouco sobre a vida do pet"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button ng-disabled="form.$invalid || submitted === true" class="btn btn-primary" type="submit">
                        {{ ((pet._id) ? 'Atualizar' : 'Cadastrar')}}
                      </button>
                      <a class="btn btn-default" ng-click="clear(form)" ng-if="pet._id">
                        Limpar
                      </a>
                      <a class="btn btn-danger" ng-click="delete(pet, form)" ng-if="pet._id">
                        Deletar
                      </a>
                      <a class="btn btn-warning" ng-click="openAlbum()" ng-if="pet._id">
                        Album
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <three-bounce-spinner class="admin-spinner inverse pull-right" ng-if="gridLoading">
            </three-bounce-spinner>
            <h3 class="panel-title">
              <i class="fa fa-list fa-fw"></i>
              Pets cadastrados
            </h3>
          </div>
          <div class='container-grid'>
            <table tr-ng-grid="" locale='pt-br' selection-mode='none' items="pets" page-items="10"
                   total-items="petsCount"
                   on-data-required="gridLoad(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
              <thead>
              <tr>
                <th field-name="name" display-name="Nome" enable-filtering="true" enable-sorting="true">
                </th>
                <th field-name="type" display-name="Tipo" enable-filtering="true" enable-sorting="true"
                    display-format="enum:'petType'">
                </th>
                <th class='grid-actions'>
                  <div>
                    Ações
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class='grid-actions'>
                  <div class="btn-group btn-group-sm">
                    <button tooltip="Editar" class="btn btn-primary" ng-click="edit(gridItem)" to-top>
                      <i class='fa fa-edit'></i>
                    </button>
                    <button tooltip="Deletar" class="btn btn-danger" ng-click="delete(gridItem, form)">
                      <i class='fa fa-remove'></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
