<div tap-form-group input="form.name" form="form">
  <label for="name" class="col-xs-2">Nome</label>

  <div class="col-xs-10">
    <input focus-if="form.$pristine" type="text" id="name" name="name" class="form-control"
           ng-model="vm.thing.name" required/>

    <tap-form-error-messages input="form.name" form="form"></tap-form-error-messages>
  </div>
</div>
<div tap-form-group input="form.info" form="form">
  <label for="info" class="col-xs-2">Informativo</label>

  <div class="col-xs-10">
    <input type="text" name="info" id="info" class="form-control" ng-model="vm.thing.info" required/>

    <tap-form-error-messages input="form.name" form="form"></tap-form-error-messages>
  </div>
</div>
