<div class="container-fluid container-view">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="row">
        <div class="col-xs-12">
          <form class="form-inline filter-main">
            <div class="form-group">
              <label class="sr-only" for="pets-filter-type">Tipo de animal</label>
              <select id='pets-filter-type' name="type" class="form-control" ng-model="petsFilter.type" required
                      ng-options="type.id as type.label for type in typeEnum"
                      ng-change="updateBreeds(petsFilter.type)">
              </select>
            </div>
            <div class="form-group">
              <label class="sr-only" for="pets-filter-breed">Raça preferida</label>
              <select class="form-control" id="pets-filter-breed" ng-model="petsFilter.breed" name="breed"
                      ng-options="breed.name for breed in breeds">
                <option value="">Todas as Raças</option>
              </select>
            </div>
            <div class="form-group">
              <label class="sr-only" for="pets-sort">Ordenar Por</label>
              <select id="pets-sort" class="form-control" ng-model="petsSort" name="sort"
                      ng-options="sort.id as sort.label for sort in sortEnum" required>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="row" ng-if="loader">
        <div class="col-xs-12 text-center">
          <i class="fa fa-spin fa-refresh fa-5x"></i>
        </div>
      </div>
      <div class="row" ng-if="!loader && pets.count === 0">
        <div class="col-xs-12">
          <div alert type='info'>
            Nenhum pet encontrado!
          </div>
        </div>
      </div>
      <div ng-show="!loader" class="row" masonry preserve-order>
        <div class="animal masonry-brick col-xs-12 col-sm-6 col-md-4" ng-repeat="pet in pets">
          <div class="thumbnail">
            <a class="fa-stack fa-2x favorite-link" style="cursor: pointer;">
              <i class="fa fa-circle fa-stack-2x"></i>
              <span class="unfavorited">
                <i class="fa-heart fa fa-stack-1x"></i>
              </span>
            </a>
            <a href="">
              <img class="img-responsive"
                   ng-src="{{pet.profilePicture.filters.maxWidth.url}}" alt="{{pet.name}}"
                   style="width: 100% !important; height: auto !important;">
            </a>

            <div class="caption">
              <h3>{{pet.name}}</h3>

              <div>
                <spam ng-repeat="breed in pet.breeds">{{breed.name + ((!$last) ? ' & ' : '')}}</spam>
              </div>
              <div>
                {{pet.age|enum:'petAge'}} - {{pet.gender|enum:'petGender'}}
              </div>
              <div>
                <i class="fa fa-map-marker"></i>
                {{pet.organization.address.city}} - {{pet.organization.address.state}}
              </div>
            </div>
            <div class="actions btn-group" L>
              <a ui-sref="pet({id: pet.id})" class="btn btn-info" scroll-to-top>
                <i class="fa fa-eye"></i>
                Ver Perfil
              </a>
              <a class="btn btn-facebook" share="{{ ('/pet/' + pet.id)}}">
                <i class="fa fa-facebook"></i>
                Compartilhar
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center" ng-if="pets.length">
          <pagination
            scroll-to-top
            ng-model="page"
            total-items="pets.count"
            items-per-page="limit"
            max-size="5"
            class='pagination-lg'
            boundary-links="true"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            rotate="true"></pagination>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="panel-group filter-side" id="filter-side-group">
        <div class="panel panel-filter">
          <div class="panel-heading">
            <div class="panel-title">
              <span>Filtros</span>
            </div>
          </div>
          <div id="filters-basic">
            <div class="panel-body">
              <form ng-submit="filter()">
                <div class="form-group">
                  <label class="sr-only" for="pets-filter-size">Tamanho</label>
                  <select class="form-control" id="pets-filter-size" ng-model="petsFilter.size" name="size"
                          ng-options="size.id as size.label for size in sizeEnum">
                    <option value="">Todos os Tamanhos</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="pets-filter-age">Idade</label>
                  <select class="form-control" id="pets-filter-age" ng-model="petsFilter.age" name="age"
                          ng-options="age.id as age.label for age in ageEnum">
                    <option value="">Todas as Idades</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="pets-filter-gender">Gênero</label>
                  <select class="form-control" id="pets-filter-gender" ng-model="petsFilter.gender" name="gender"
                          ng-options="gender.id as gender.label for gender in genderEnum">
                    <option value="">Todos os Gênero</option>
                  </select>
                </div>
                <button type="button" class="btn btn-info btn-block hidden-lg hidden-md" data-offcanvas>Esconder <span
                  class="hidden-xs">Filtros</span></button>
                <button type="button" class="btn btn-warning btn-block" ng-click="clearFilters()">Limpar <span
                  class="hidden-xs">Filtros</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
