<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Configurações
        </h1>
        <ol class="breadcrumb">
          <li><a ui-sref="admin.dashboard">Área de trabalho</a></li>
          <li class="active">Configurações</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <section class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-edit fa-fw"></i>
              Alterar Senha
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <form class="form-horizontal" name="form" ng-submit="changePassword(form)" novalidate>
                  <div class="form-group">
                    <label class="col-xs-2">Senha Atual</label>

                    <div class="col-xs-10">
                      <input autofocus="on" focus-if="!submitted" type="password" name="password" class="form-control"
                             ng-model="user.oldPassword"
                             mongoose-error/>

                      <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other}}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-2">Nova Senha</label>

                    <div class="col-xs-10">
                      <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                             ng-minlength="3"
                             required/>

                      <p class="help-block"
                         ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        A senha deve ter pelo menos 3 caracteres.
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button ng-disabled="form.$invalid || submitted === true" class="btn btn-primary" type="submit">
                        Salvar Alterações
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
